body {
    background: linear-gradient(45deg, #f7f7f7 0%, #eae0d5 100%);
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container > * {
    flex: 1 100%;
}

.box {
    border: 2px solid tomato;
    margin: 2px;
}

header {
    display: flex;
    justify-content: space-between;
}

main ul{
    list-style: none;
    text-align: left;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.projects-image {
    width: 200px;
    display: block;
    height: 150px;
    object-fit: cover;
}


aside {
    background-image: url("../img/sidebar.jpg");
    opacity: 0.5;
}

@media all and (min-width: 600px) {
    .container aside {
        flex: 1 auto;
    }

    .container main {
        flex: 3 auto;
    }

    .container aside {
        order: 1;
    }

    .container main {
        order: 2;
    }

    footer {
        order: 3;
    }


}
