body {
    background: linear-gradient(45deg, #f7f7f7 0%, #eae0d5 100%);
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container > * {
    flex: 1 100%;
}

.box {
    border: 2px solid tomato;
    margin: 2px;
}

header {
    display: flex;
    justify-content: space-between;
}

.main ul{
    list-style: none;
    text-align: left;
}

.project-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project-link img {
    width: 200px;
    display: block;
    height: 150px;
    object-fit: cover;
}


@media all and (min-width: 600px) {
    .sidebar {
        flex:1 auto;
    }

    .main {
        flex:3 auto;
    }

    .sidebar {
        order: 1;
    }

    .main {
        order: 2;
    }

    footer {
        order: 3;
    }


}
